 /* .contactform{
    padding: 10px 10px 10px 100px;
    justify-content: center;
    /* margin:20px ; 
}*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.infocontaniar_contact{
    width:60vw;
    height: 68vh;
    margin: 144px 300px;   
    text-align:unset;  
}

 /* .copyright{ 
    padding: 55px 10px;
}  */

.infocontaniar_contact h1{
     text-align: center;
     /* color: rgb(129, 10, 68); */
     font-family: 'Ubuntu', sans-serif;

}
/* .contactform input{
    width:26vw;
    border-radius: 5px;
    margin: 6px;
    padding: 3px;
} */
.message{
    width: 100%;

}

.form-control{
    appearance: none;
    box-shadow: none;
    border: transparent;
    /* background: #f2f3f7; */
    background-color:rgb(240, 244, 244);
    height: 54px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.3s;
    width:55vw;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    /* color: rgb(171, 65, 116);  */

    
}

/* .btn{

    display: flex;
    justify-content:center;
    align-items:center;
    margin:1px 2px;
    padding-inline: 10px;
    
} */

.btn{
    padding: 7px 12px;
    
    border-radius: 14px;
    padding:  4px 12px;
    cursor: pointer;
    border: 2px solid rgb(88, 34, 60);
    color: white;
    /* background-color: rgb(129, 10, 68);; */
    background-color: rgb(227 74 56);;


}

.mb-3{
    margin-bottom: 15px;

    
}
